.carousel{
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    border-radius: 25px;
}

.carousel__img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel__number{
    display: flex;
    width: 100%;
    justify-content: center;
    height: 90%;
    align-items: flex-end;
    font-size: 16px;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    color: #fff;
}

.carousel__arrow{
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    cursor: pointer;
}
.arrow__right{
    right: 20px;
    z-index: 1;
}

.arrow__left{
    left: 20px;
    z-index: 1;
}

@media all and (max-width:820px){
    .carousel__number{
        display: none;
    }
    .carousel__arrow{
        width: 20px;
        height: 30px;
    }

}