/*--- Footer ---*/ 
.footer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 100%;
    height: 200px;
    background: #000000;
}
.footer__text{
    margin-top: 30px;
    font-size: 24px;
    color: #FFFFFF;
}

/*--- Mobile ---*/
@media all and (min-width:1920px){
    .footer{
        background: #FFF;
    }
    .footer__text{
        color: #000;
        font-size: 30px;
    }
}
@media all and (max-width:768px){
    .footer{
        margin-top: 150px;
    }
    .footer__text{
        font-size: 14px;
    }
}